html {
  height: 100%;
}

body {
  background-color: #c8c8c8;
  height: 100%;
}

.container {
  color: black;
  font-family: 'Press Start 2P';
  font-size: 1.0em;
  opacity: 0.75;
}

.notice {
  font-size: 0.75em;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: grey;
}

.blinking-cursor {
  color: grey;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes 'blink' {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes 'blink' {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes 'blink' {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes 'blink' {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}
